.img_thumb {
  height: 100%;
  margin-bottom: 5px;
  margin-left: 9px;
  display:table-cell;
  vertical-align:middle;
}

@media only screen and (min-width: 769px) { 
  .parallax {
    /* The image used
    background-image: url("img_parallax.jpg");*/
    background-color: #FFF;

    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 768px) { 
  .parallax {
    /* The image used
    background-image: url("img_parallax.jpg");*/
    background-color: #FFF;

    /* Set a specific height */
    min-height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
  }
}



  body, footer {
    font-family: 'Montserrat', sans-serif;


  }
  .banner {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;


    font-size: 16px;
    padding-top: 20px;
  }

  .on-image {
    color: white;
    text-shadow: black 0px 2px 4px;
  }

  h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Courgette', cursive;
  }

  .alternate-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  @media only screen and (max-width: 600px) {
    .banner { 
      text-align: center;
      display: block;
      width: 100%;
    }
  }
